@page "/ViewerTest"

@using DevExpress.Blazor.Reporting

<h3>Viewer</h3>

<DxReportViewer @ref="reportViewer" Report="@report" Zoom="1">
</DxReportViewer>

@code {
    DxReportViewer? reportViewer;
    test2 report = new test2();


    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         //List<ProductMakePlanReport> data = await unplannedOrderService.GetProductMakePlanReport(ID, "FDY");

    //         // Report = new test2();


           

    //         // reportViewer.ShouldDisposeReport = true;
    //         // await reportViewer.OpenReportAsync(Report);
    //     }
    // }

}